{% set title = 'Privacy notice' %}
{% set PROTOTYPE_URL = 'K1' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">{{title}}</h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <p>Privacy</p>
            </div>
          </div>
        </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              {{ patterns.page_nav( "How to register your preference online", "/" + PROTOTYPE_URL + "/app/index" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
