{% set title = 'Find out about my data choice' %}
{% block scripts %}

{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-section">
    <div class="local-header">
      <h1 class="local-header__title">{{title}}</h1>
      <div class="local-header__intro">
        <p>Homepage for M series {{title}} prototypes.</p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column--two-thirds">
        <div class="callout callout--attention">
          <h2>Stable</h2>
          <h3>
            <a title="Prototype M Summary Page - {{ title }}" href="/M/index">Prototype M</a>
          </h3>
          <p>
            Landing page for Prototype M series
          </p>
          <p><a title="Start Prototype M - {{ title }}" role="button" class="button" href="/M/01-overview">Start Prototype M</a></p>
        </div>

        <div class="callout">
          <h3>
            <a title="Prototype M NHSUK Summary Page - {{ title }}" href="/NHSUK/index">NHSUK Styles</a>
          </h3>
          <p>
            Landing page for Prototype M using NHSUK styles
          </p>
          <p><a title="Start Prototype M with NHSUK styles - {{ title }}" role="button" class="button" href="/NHSUK/01-overview">Start NHSUK prototype</a></p>
        </div>

        <div class="callout">
          <h3>
            <a title="Prototype M1 Summary Page - {{ title }}" href="/M1/index">Prototype M1</a>
          </h3>
          <p>
            Landing page for Prototype M series with previous content (M1)
          </p>
          <p>
            CURRENT PRODUCTION RELEASE
          </p>
          <p><a title="Start Prototype M1 - {{ title }}" role="button" class="button" href="/M1/01-overview">Start Prototype M1</a></p>
        </div>

      </div>

      <div class="column--one-third">
        <div class="callout callout--muted">
          <h2 class="h3">Recent prototypes</h2>
          <ul class="link-list">
            <li>
              <a href="https://ndop-k.herokuapp.com/">Prototype K</a>
            </li>
            <li>
              <a href="https://ndop-j.herokuapp.com/">Prototype J</a>
            </li>
            <li>
              <a href="https://ndop-h.herokuapp.com/">Prototype H</a>
            </li>
            <li>
              <a href="https://ndop-g.herokuapp.com/">Prototype G</a>
            </li>
            <li>
              <a href="https://ndop-f.herokuapp.com/">Prototype F</a>
            </li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</main>
{% endblock %}
