{% set title = 'Terms of use' %}
{% set PROTOTYPE_URL = 'v1' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">{{title}}</h1>
          <div class="grid-row">
            <div class="column--three-quarters">
              <p>
                Terms of use
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              {{ patterns.page_nav( "Register your preference", "/" + PROTOTYPE_URL + "/06-register-your-preference" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
