{% set title = 'Confirm who you are' %}
{% set PROTOTYPE_URL = 'K' %}
{% block scripts %}
<script src="/javascripts/radio-checkbox.js"></script>
<script src="/javascripts/{{PROTOTYPE_URL}}/01-confirm-who-you-are.js"></script>
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
    <div class="reading-width">
      <h1 class="page-title">{{title}}</h1>

      <div class="grid-row">
        <div class="column--three-quarters">
          <div class="reading-width">
            <p>For security reasons we must verify who you are before you can set your preferences.</p>
            <p>
              To do this you must complete three verification steps.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step-container grey">
    <div class="page-section">
      <div class="grid-row">
        <div class="column--three-quarters">
          <div class="reading-width">

            <h2 id="verification-steps">Verification steps</h2>
            <div id="step-enter-your-details" class="step">
              <div class="grid-row">
                <div class="column--step-counter">
                  <div>
                    1
                  </div>
                </div>
                <div class="column--step-body-with-icon">
                  <h3>Enter your details</h3>
                  <p>
                    You enter your details so that we can look for your contact information in our patient database.
                  </p>
                  <p>
                    To confirm we have the correct contact details for you, you will need to provide your:
                  </p>
                  <ul>
                    <li>
                      name
                    </li>
                    <li>
                      postcode
                    </li>
                    <li>
                      date of birth
                    </li>
                    <li>
                      NHS number
                    </li>
                  </ul>
                  <p>
                    The information you provide will not be saved.
                  </p>

                </div>
                <div class="column--step-icon">
                  <img class="marketing-icon" alt="check your details icon" src="/images/verify-icon.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step-container">
    <div class="page-section">
      <div class="grid-row">
        <div class="column--three-quarters">
          <div class="reading-width">
            <div id="step-choose-your-contact-method" class="step">
              <div class="grid-row">
                <div class="column--step-counter">
                  <div>
                    2
                  </div>
                </div>
                <div class="column--step-body-with-icon">
                  <h3>Choose your contact method</h3>
                  <p>
                    Using the details we hold in our database, we will send you a one-time verification code to your selected contact method.
                  </p>
                  <p>
                    This will be a mobile number or an email.
                  </p>

                </div>
                <div class="column--step-icon">
                  <img class="marketing-icon" alt="check your details icon" src="/images/verify-icon.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="step-container grey">
    <div class="page-section">
      <div class="grid-row">
        <div class="column--three-quarters">
          <div class="reading-width">
            <div id="step-enter-your-security-code" class="step">
              <div class="grid-row">
                <div class="column--step-counter">
                  <div>
                    3
                  </div>
                </div>
                <div class="column--step-body-with-icon">
                  <h3>Enter your security code</h3>
                  <p>
                    Once you have chosen your contact method, you will be sent a code which will give you access to set your preference.
                  </p>
                  <p>
                    When you enter your code you will then be able to set your preference online.
                  </p>

                </div>
                <div class="column--step-icon">
                  <img class="marketing-icon" alt="check your details icon" src="/images/verify-icon.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="step-container">
    <div class="page-section">
      <div class="grid-row">
        <div class="column--three-quarters">
          <div class="reading-width">
            <h2 id="start-verification-process">Start verification process</h2>
            <p>
              By continuing you agree to let us search for your details in our database to send you a one-time security passcode.
            </p>
            <p>
              <a href="/{{PROTOTYPE_URL}}/app/02-your-details" role="button" class="button">Accept and continue</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>
{% endblock %}
