{% set title = 'Contact us' %}
{% set PROTOTYPE_URL = 'NEXT' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">{{title}}</h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <p>To set your preference online, you must be able to verify who you are.</p>
              <p>You can’t do this yourself if you haven’t registered an email or mobile number with your GP practice.</p>
              <h2 id="other-ways-to-set-your-preference" class="h3">Other ways to set your preferences</h2>
              <p>
                Contact the NHS Digital Contact Centre to verify your identity and discuss your data sharing preferences.
              </p>
              <p>
                We may be able to guide you through the service, or set your preference on your behalf.
              </p>
              <p>
                Call: 0300 303 5678
              </p>
              <p>
                Open: 9am to 5pm Monday to Friday (excluding bank holidays).
              </p>
            </div>
            </div>
          </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              {{ patterns.page_nav( "Register your preference", "/" + PROTOTYPE_URL + "/app/index" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
