{% set title = 'Contact us' %}
{% set PROTOTYPE_URL = 'NEXT' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/layout.html' %}

{% block body %}
<main id="content" role="main">
  <div class="page-band">
    <div class="page-section">
      Register your preference for sharing health data
    </div>
  </div>

  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title">{{title}}</h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <p>Sorry, we are unable to set your preference online.</p>

              <p>
                This is because you must be 13 or over to use the online service.
              </p>

              <p>If you plan to visit your GP anytime soon, speak to them about how your identifiable health and care information is used.</p>
            </div>
            </div>
          </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--two-thirds">
              {{ patterns.page_nav( "Register your preferences for sharing patient health data", "/" + PROTOTYPE_URL + "/01-overview" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
