/*

.column--one-third {
  @include grid-column(1 / 3);

  &.tablet {

    @include grid-column(1 / 3, tablet);
  }

  &.mobile {

    @include grid-column(1 / 3, mobile);
  }
}

*/

.column--one-third {
  display: block;
  padding: 0 16px; }
  @media (min-width: 925px) {
    .column--one-third {
      float: left;
      width: 33.33333%; } }
  .column--one-third.tablet {
    display: block;
    padding: 0 16px; }
    @media (min-width: 641px) {
      .column--one-third.tablet {
        float: left;
        width: 33.33333%; } }
  .column--one-third.mobile {
    display: block;
    padding: 0 16px; }
    @media (max-width: 640px) {
      .column--one-third.mobile {
        float: left;
        width: 33.33333%; } }
