{% set title = 'Downloads - Find out about my data choice' %}
{% set content_title = 'Leaflets and additional forms' %}
{% set PROTOTYPE_URL = 'NHSUK' %}
{% block scripts %}
{% endblock %}
{% extends 'layouts/choices.html' %}

{% block body %}
<div class="breadcrumb" aria-label="breadcrumb">
  <ol>
    <li><a href="#">Home</a></li>
    <li><a href="/{{PROTOTYPE_URL}}/01-overview">Find out about my data choice</a></li>
    <li class="breadcrumb__last">{{content_title}}</li>
  </ol>
</div>

<main id="content" role="main">
  <div class="page-section">
      <div class="reading-width">
        <h1 class="page-title__NHSUK">{{content_title}}</h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <h2 class="h3">Leaflets</h2>

            </div>
            </div>
          </div>
      </div>

      <div class="page-section">
        <div class="reading-width">
          <div class="grid-row">
            <div class="column--three-quarters">
              {{ patterns.page_nav( "Register your preference", "/" + PROTOTYPE_URL + "/01-overview" ) }}
            </div>
          </div>
        </div>
      </div>
  </div>

</main>
{% endblock %}
